extends ../layouts/default

block pageTitle
  title About

block navbar
  - let activePage = "about";
  include ../shared/_navbar

block content
  main.about-page
    h1 This is #[span.text-primary About] page
