extends ../layouts/default

block headTitle
  title about page

block append styles
  link(rel="stylesheet" href="../test.css")

block content
  main.index-page
    h1 about page1

block append scripts
  script(src="./test.js")