extends ../layouts/default

block pageTitle
  title Home

block navbar
  - let activePage = "home";
  include ../shared/_navbar

block content
  main.index-page
    h1 This is #[span.text-primary Home(Index)] page
