extends ../layouts/default

block pageTitle
  title Pricing

block navbar
  - let activePage = "pricing";
  include ../shared/_navbar

block content
  main.pricing-page
    h1 This is #[span.text-primary Pricing] page
